name: Build Docker Image

on:
  workflow_dispatch:

  release:
    types: [published]


jobs:
  # Build and push Docker image
  docker:
    runs-on: ubuntu-22.04

    steps:
      # Checkout repository
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive

      # Set up QEMU and Docker Buildx
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract version
        id: version
        run: |
          if [[ $GITHUB_REF == refs/tags/* ]]; then
            echo "tag=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
          else
            echo "tag=latest" >> $GITHUB_OUTPUT
          fi

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/simple/Dockerfile

          # Currently only building for linux/amd64, due to ARM issues with some dependencies
          platforms: linux/amd64

          push: true
          tags: |
            ghcr.io/thebigeye/guanaco-py:latest
            ghcr.io/thebigeye/guanaco-py:${{ steps.version.outputs.tag }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
